{% extends 'base.html' %}

{% block page_seo %}
    <title>Suppression d'une association</title>
    <meta name="title" content="Suppression d'une association"/>
{% endblock %}

{% block page_title %}
  Suppression d'une association
{% endblock %}

{% block page_sub_title %}
  {{ association.name }}
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-list' %}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> La suppression de l'association <i>{{ association.name }}</i> entraînera la <u>perte irréversible</u> des données y étant associées.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}