{% extends 'association/base_association.html' %}

{% load l10n %}

{% block page_sub_title %}
    Vue générale
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-update' association.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i>
        Modifier les informations</a>
{% endblock %}

{% block content_association %}
    {% if request.user.is_active and request.user.is_staff %}
    <strong>Statut de l'association</strong>
    <div class="row mb-3 text-center" style="margin-top: 2vh;">
        <div class="col-md-4">
            {% if object.is_validated %}
            <p><span class="dot dot-active"></span>  Est validée</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  N'est pas validée</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if object.is_active %}
            <p><span class="dot dot-active"></span>  Est active</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Est morte</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if object.has_place %}
            <p><span class="dot dot-active"></span>  Dispose d'un local</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Ne dispose pas de local</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row mb-3" {% if request.user.is_active and request.user.is_staff %}style="margin-top: -2vh;"{% endif %}>
        <div class="col-md-12">
            <strong>Nom officiel de l'association</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.name }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <strong>Catégorie d'association</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.category.name }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Nom usuel ou acronyme</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.acronym %}
                        {{ object.acronym }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Référent CVA</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% for user in object.moderated_by.all %}
                        {{ user.email }}
                    {% empty %}
                        <i>Non défini</i>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <strong>Nombre d'adhérent</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {{ object.all_members_number }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Nombre de membres actifs</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {{ object.active_members_number }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Date de création</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.created_officially_at %}
                        {{ object.created_officially_at }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Description <small class="text-muted">(non visible dans le Bot'INSA)</small></strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.description }}</div>
            </div>
        </div>
    </div>
    {% if request.user.is_active and request.user.is_staff %}
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Commentaires <small class="text-muted">(non visible pour les non-administateurs)</small></strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.commentary }}</div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-md-6">
            <strong>IBAN</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.iban %}
                        {{ object.iban }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <strong>BIC</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.bic %}
                        {{ object.bic }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <strong>Numéro RNA</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.rna %}
                        {{ object.rna }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <strong>Numéro SIREN</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.siren %}
                        {{ object.siren }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if object.has_place %}
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Local associatif occupé <small class="text-muted">(renseigné par la DGS ou le CVA)</small></strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.room_id %}
                        <a href="http://www.openstreetmap.org/?mlat={{ object.room.lat|unlocalize }}&mlon={{ object.room.long|unlocalize }}&zoom=18">
                            {{ object.room.name }}
                        </a>
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>URL du logo</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.logo_url %}
                        <a href="{{ object.logo_url }}">
                            {{ object.logo_url }}
                        </a>
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if object.logo_url %}
        <div class="row">
            <div class="col-md-12">
                <strong>Aperçu du logo</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        <a href="{{ object.logo_url }}">
                            <img class="img-fluid" src="{{ object.logo_url }}" alt="Logo non accessible">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <p>
        <small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small>
    </p>

{% endblock %}