{% extends 'base.html' %}

{% block page_seo %}
    <title>Annuaire des associations</title>
    <meta name="title" content="Annuaire des associations"/>
{% endblock %}

{% block page_title %}
    Annuaire des associations
{% endblock %}

{% block content %}
    <div class="row">
    <table id="prettyTable" class="table table-bordered table-responsive datatables" data-page-length="50">
        <thead>
        <tr>
            <th>Nom de l'association</th>
            <th>Nom du président</th>
            <th>Email de contact</th>
            <th>Numéro de téléphone</th>
            <th>Fin du mandat</th>
        </tr>
        </thead>
        <tbody>
        {% for association in object_list %}
            {% with mandate=association.mandates.last %}
                <tr>
                    {% if request.user.is_active and request.user.is_staff %}
                        {% if not association.acronym %}
                            <td><a href="{% url 'association-detail' association.id %}">{{ association.name }}</a></td>
                        {% else %}
                            <td><a href="{% url 'association-detail' association.id %}">{{ association.acronym }}</a> <small>({{ association.name }})</small></td>
                        {% endif %}
                    {% else %}
                        {% if not association.acronym %}
                            <td> {{ association.name }} </td>
                        {% else %}
                            <td> {{ association.acronym }} <small>({{ association.name }})</small></td>
                        {% endif %}
                    {% endif %}
                    {% with president=mandate.get_president.first %}
                        <td>{{ president.last_name|upper }} {{ president.first_name|title }}</td>
                        <td>
                            <a href="mailto:{{ association.directory_entries.last.contact_address }}">
                                {{ association.directory_entries.last.contact_address }}
                            </a>
                        </td>
                        <td>
                            {% if mandate.share_phone %}
                                {{ president.phone }}
                            {% else %}
                                Privé
                            {% endif %}
                        </td>
                    {% endwith %}
                    <td data_order="mandate.ends_at">{{ mandate.ends_at|date:'DATE_FORMAT' }}</td>
                </tr>
            {% endwith %}
        {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}