{% extends 'base.html' %}

{% block page_seo %}
    <title>Liste des associations</title>
    <meta name="title" content="Liste des associations"/>
{% endblock %}

{% block page_title %}
    Liste des associations
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-new' %}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped datatables" data-order="[[ 2, &quot;desc&quot; ]]" data-page-length="100">
            <thead>
            <tr>
                <th>Acronyme - Nom</th>
                <th>Validée</th>
                <th>Active</th>
                <th data-orderable="false">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for association in object_list %}
                <tr>
                    {% if not association.acronym %}
                        <td><a href="{% url 'association-detail' association.id %}">{{ association.name }}</a></td>
                    {% else %}
                        <td><a href="{% url 'association-detail' association.id %}">{{ association.acronym }}</a> <small>({{ association.name }})</small></td>
                    {% endif %}
                    <td data-order="{{ association.is_validated }}">
                        {% if association.is_validated %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td data-order="{{ association.is_active }}">
                        {% if association.is_active %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'association-update' association.id %}" data-toggle="tooltip"
                           title="Modifier les informations"><i class="fa fa-pencil"></i></a>
                        <a href="{% url 'association-delete' association.id %}" data-toggle="tooltip"
                           title="Supprimer l'association"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}