{% extends 'base.html' %}

{% block page_seo %}
    <title>Suppression d'un lieu</title>
    <meta name="title" content="Suppression d'un lieu"/>
{% endblock %}

{% block page_title %}
  Suppression d'un lieu
{% endblock %}

{% block page_sub_title %}
  {{ object.name }}
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'place-list' %}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> La suppression du lieu <i>{{ object.name }}</i> est irréversible.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}