{% extends 'base.html' %}

{% load l10n %}

{% block page_seo %}
    <title>Liste des lieux</title>
    <meta name="title" content="Liste des lieux"/>
{% endblock %}

{% block page_title %}
    Liste des lieux
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'place-new' %}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Est un local ?</th>
                <th data-orderable="false">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for place in object_list %}
                <tr>
                    <td>
                        <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                            {{ place.name }}
                        </a>
                    </td>
                    <td>{{ place.lat }}</td>
                    <td>{{ place.long }}</td>
                    <td>
                        {% if place.is_room %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'place-update' place.id %}" data-toggle="tooltip" title="Modifier"><i
                                class="fa fa-pencil"></i></a>
                        <a href="{% url 'place-delete' place.id %}" data-toggle="tooltip" title="Supprimer"><i
                                class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}