{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_seo %}
    <title>Ajouter un lieu</title>
    <meta name="title" content="Ajouter un lieu"/>
{% endblock %}

{% block page_title %}
  Ajouter un lieu
{% endblock %}

{% block quick_actions %}
<a href="{% url 'place-list' %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
<button form="placeForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}