{% extends 'association/base_association.html' %}

{% block page_sub_title %}
  Evénements
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-event-new' association.id %}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content_association %}
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
          <a class="nav-link active" href="#current_or_coming" aria-controls="home" role="tab" data-toggle="tab">En cours ou à venir</a>
      </li>
      <li role="presentation" class="nav-item">
          <a class="nav-link" href="#past" aria-controls="profile" role="tab" data-toggle="tab">Passés</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="current_or_coming">

          <table class="table table-bordered table-stripped">
            <thead>
              <tr>
                <th>Nom de l'événement</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              {% for event in object_list %}
                <tr>
                  <td><a href="{% url 'association-event-detail' association.id event.id %}">{{ event.name }}</a></td>
                  <td>{{ event.begins_at|date }}</td>
                  <td>{{ event.ends_at|date }}</td>
                  <td>
                    {% if event.is_online %}
                      <a data-toggle="tooltip" title="Publié"><i class="fa fa-check"></i></a>
                    {% elif event.comments %}
                      <a data-toggle="tooltip" title="Demande de changements"><i class="fa fa-warning"></i></a>
                    {% else %}
                      <a data-toggle="tooltip" title="Non publié"><i class="fa fa-times"></i></a>
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5"><i>Aucun événement en cours ou à venir.</i></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

      </div>
      <div role="tabpanel" class="tab-pane" id="past">

          <table id="prettyTable2" class="table table-bordered table-stripped">
            <thead>
              <tr>
                <th>Nom de l'événement</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              {% for event in past_events %}
                <tr>
                  <td><a href="{% url 'association-event-detail' association.id event.id %}">{{ event.name }}</a></td>
                  <td>{{ event.begins_at|date }}</td>
                  <td>{{ event.ends_at|date }}</td>
                  <td>
                    {% if event.is_online %}
                      <a data-toggle="tooltip" title="Publié"><i class="fa fa-check"></i></a>
                    {% elif event.comments %}
                      <a data-toggle="tooltip" title="Demande de changements"><i class="fa fa-warning"></i></a>
                    {% else %}
                      <a data-toggle="tooltip" title="Non publié"><i class="fa fa-times"></i></a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
{% endblock %}