{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{% url 'public-calendar-view' %}"/>
    <title>Calendrier de la VA</title>
    <meta name="title" content="Calendrier de la VA"/>
    <meta name="description" content="Le calendrier de la VA vous permet de retrouver l'ensemble des évènements associatifs à venir sur les campus de l'INSA de Lyon."/>

    <meta property="og:url" content="{{ site_url }}{% url 'public-calendar-view' %}"/>
    <meta property="og:title" content="Calendrier de la VA"/>
    <meta property="og:description" content="Le calendrier de la VA vous permet de retrouver l'ensemble des évènements associatifs à venir sur les campus de l'INSA de Lyon."/>

    <meta property="twitter:url" content="{{ site_url }}{% url 'public-calendar-view' %}">
    <meta property="twitter:title" content="Calendrier de la VA"/>
    <meta property="twitter:description" content="Le calendrier de la VA vous permet de retrouver l'ensemble des évènements associatifs à venir sur les campus de l'INSA de Lyon."/>
{% endblock %}

{% block css_js_header %}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css' rel='stylesheet' />
    <style>
        #calendar {
            width: 100%;
            margin: 0 auto;
        }

        @media (max-width: 768px){
            .fc-toolbar {
                display: inherit !important;
                max-width: 95vw;
            }
        }
    </style>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales/fr.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js'></script>

    <script src='{% static 'js/src/modalCalendar.js' %}'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid', 'bootstrap', 'list', 'timeGrid' ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                defaultView: (window.innerWidth < 768) ? "listWeek" : "timeGridWeek",
                themeSystem: 'bootstrap',
                locale: 'fr',
                nowIndicator: true,
                businessHours: [
                    {
                        daysOfWeek: [ 1, 2, 3, 4, 5 ],
                        startTime: '08:00',
                        endTime: '18:00'
                    },
                ],
                scrollTime: '13:00:00', <!-- to scroll down by default to the end of the day when most of the events are planned-->
                height: 700, <!-- to limit the size of the calendar and make it usable on 1080p screens -->
                eventLimit: true,
                events: [
                    // For allDay, see https://stackoverflow.com/questions/19225414/how-to-get-the-hours-difference-between-two-date-objects
                {% for event in object_list.all_events %}
                    {
                        id: {{ event.id }},
                    {% if event.association.acronym %}
                        title: '{{ event.name|escapejs|safe }} ({{ event.type.name }} - {{ event.association.acronym|escapejs|safe }})',
                    {% else %}
                        title: '{{ event.name|escapejs|safe }} ({{ event.type.name }} - {{ event.association.name|escapejs|safe }})',
                    {% endif %}
                        start: '{{ event.begins_at.isoformat }}',
                        end: '{{ event.ends_at.isoformat }}',
                        backgroundColor: '{{ event.type.color }}',
                        borderColor: '{{ event.type.color }}',
                        allDay: (Math.floor(new Date('{{ event.ends_at.isoformat }}') - new Date('{{ event.begins_at.isoformat }}')) / 3600000) >= 8,
                        extendedProps: {
                            idAPI: {{ event.id }}
                        }
                    },
                {% endfor %}
                ],
                eventMouseEnter: function(info) {
                    info.el.style.cursor = "pointer";
                },
                eventMouseLeave: function(info) {
                    info.el.style.cursor = "inherit";
                },
                eventClick: function(info) {
                    getEventModal('{% url "api-v1-event-index" %}', info.event.extendedProps.idAPI);
                }
                });

                calendar.render();
        });

        function copyICSLink() {
            document.getElementById('ics-link').select();
            document.execCommand("copy");
        }
    </script>
{% endblock %}

{% block page_title %}
	Calendrier des évènements
{% endblock %}

{% block content %}
	<p>Abonnez-vous à ce calendrier pour vous tenir au courant des évènements à venir</p>
    <div class="input-group mb-3">
        <input type='text' onclick='this.setSelectionRange(0, this.value.length)'
               id="ics-link" class='form-control'
               value='https://{{ request.get_host }}{% url 'event-calendar' %}'>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary" onclick="copyICSLink()">
                <i class="fa fa-copy"></i> Copier
            </button>
        </div>
    </div>
    <br/>
    <p>Pour utiliser ce lien ICS, vous pouvez utiliser l'application Agenda ou Calendrier intégrée à votre téléphone Android ou iOS.<br/>
        Vous pouvez utiliser <a href="https://www.thunderbird.net/en-US/thunderbird/all/" rel="noreferrer noopener" target="_blank">Thunderbird</a>, ou directement Zimbra
        en suivant ce petit <a href="{% static "pdf/Guide-ICS.pdf" %}" rel="noreferrer noopener" target="_blank">PDF</a> qui explique la procédure.
    </p>
    <hr>
	<h4>Évènements à venir</h4>

    <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab" data-children=".item">
    {% for event in object_list.recent_events %}
        <div class="item">
            <a data-toggle="collapse" data-parent="#events"
               href="#event-{{ event.id }}" aria-expanded="true"
               aria-controls="event-{{ event.id }}">
                {% if event.association.acronym %}
                {{ event.name }} ({{ event.type.name }} - {{ event.association.acronym }})
                {% else %}
                {{ event.name }} ({{ event.type.name }} - {{ event.association.name }})
                {% endif %}
            </a>
            <div id="event-{{ event.id }}"
                 class="collapse"
                 role="tabpanel">

                <div class="row mb-2">
                    <div class="col-md-9">
                    <p>
                        {{ event.description|safe|linebreaksbr }}
                    </p>
                    </div>
                    <div class="col-md-3">
                    {% if event.logo_url %}
                        <img src="{{ event.logo_url }}" alt="Logo {{ event.name }}" class="img-fluid">
                    {% else %}
                        <img src="{{ event.association.logo_url }}" alt="Logo {{ event.association.name }}" class="img-fluid">
                    {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <i class="fa fa-fw fa-calendar"></i> {{ event.begins_at|date:'DATETIME_FORMAT' }}
                        - {{ event.ends_at|date:'DATETIME_FORMAT' }}
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-fw fa-location-arrow"></i>
                        {% if event.place %}
                            {% with place=event.place %}
                                <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                    {{ place.name }}
                                </a>
                            {% endwith %}
                        {% else %}
                            <em>Non défini</em>
                        {% endif %}
                    </div>
                </div>
                {% if event.website_url or event.facebook_url %}
                <div class="row mb-2">
                    {% if event.website_url %}
                    <div class="col-6">
                        <i class="fa fa-fw fa-link"></i>
                            <a href="{{ event.website_url }}">Page web</a>
                    </div>
                    {% endif %}
                    {% if event.facebook_url %}
                    <div class="col-6">
                        <i class="fa fa-fw fa-facebook"></i>
                            <a href="{{ event.facebook_url }}">Evènement Facebook</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% with prices=event.prices.all %}
            {% if prices|length > 0 %}
                <hr/><h6><i class="fa fa-fw fa-money"></i> Tarifs de l'évènement</h6>
                <ul class="list-group">
                {% for priceElement in prices %}
                    <li class="list-group-item list-group-item-action flex-column">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-6">
                                <strong>{{priceElement.name}}</strong>
                            </div>
                            <div class="col-md-6">
                                {% if priceElement.price and not priceElement.is_variable %}
                                <strong>{{priceElement.price}} €</strong>
                                {% endif %}

                                {% if priceElement.is_variable %}
                                <span>Prix libre</span>
                                {% endif %}

                                {% if priceElement.is_va %}
                                    <span> - (Tarif VA)</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul><br/>
            {% endif %}
            {% endwith %}
            </div>
        </div>
    {% empty %}
        <em>Aucun évènement à venir.</em>
    {% endfor %}
    </div>
    <hr/>
    <h4>Calendrier des évènements</h4>
    <p>Cliquez sur les évènements pour obtenir plus de détails sur eux.</p>
    <div id="calendar"></div>

    <div id="modal-event" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-event-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-event-title" class="modal-title">Modal title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal-event-content" class="container-fluid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
