{% extends 'association/base_association.html' %}
{% load static %}

{% load humanize %}
{% load l10n %}

{% block page_sub_title %}
    Détail d'un événement
{% endblock %}

{% block quick_actions %}
    {% if can_delete %}
        <a href="{% url 'association-event-delete' association.id object.id %}" class="btn btn-danger"><i
                class="fa fa-trash"></i> Supprimer</a>
    {% endif %}
    {% if not object.is_online and perms.event.admin_event %}
        <a href="{% url 'association-event-publish' association.id object.id %}" class="btn btn-success"><i
                class="fa fa-check"></i> Publier</a>
    {% endif %}
    {% if can_update %}
        <a href="{% url 'association-event-update' association.id object.id %}" class="btn btn-primary"><i
                class="fa fa-pencil"></i> Mettre à jour</a>
    {% endif %}
{% endblock %}

{% block content_association %}
    {% if not object.is_online %}
        {% if object.comments %}
        <div class="alert alert-danger" role="alert">
            <p>Cet événement a été vu par un modérateur. Ce dernier demande la résolution des points suivants avant la mise en ligne.</p>
            <hr/>
            <p class="mb-0">{{ object.comments }}</p>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Cet événement est en attente de validation par un modérateur. Il n'est donc pas en ligne.
        </div>
        {% endif %}
    {% else %}
        {% if not object.has_poster and not object.allow_inkk %}
        <div class="alert alert-success" role="alert">
            Cet événement est validé et en ligne.
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            Cet événement est validé et en ligne (via Portail VA{% if object.has_poster and object.allow_inkk %}, INKK et Affichage{% elif object.has_poster %} et Affichage{% else %}et INKK{% endif %}).
        </div>
        {% endif %}
    {% endif %}

    <div class="row mb-3">
        <div class="col-md-6">
            <strong>Type d'événement</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.type.name }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <strong>Lieu</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.place %}
                        <a href="http://www.openstreetmap.org/?mlat={{ object.place.lat|unlocalize }}&mlon={{ object.place.long|unlocalize }}&zoom=18">
                            {{ object.place.name }}
                        </a>
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <strong>Nom</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.name }}</div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <strong>Description courte</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.short_description|linebreaksbr }}</div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <strong>Description</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.description|linebreaksbr }}</div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <strong>Date et heure de début</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.begins_at|date:'DATETIME_FORMAT' }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <strong>Date et heure de fin</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.ends_at|date:'DATETIME_FORMAT' }}</div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <strong>Page web</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.website_url %}
                        <a href="{{ object.website_url }}">{{ object.website_url }}</a>
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <strong>Evènement Facebook</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.facebook_url %}
                        <a href="{{ object.facebook_url }}">{{ object.facebook_url }}</a>
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>URL du logo</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.logo_url %}
                        <a href="{{ object.logo_url }}">
                            {{ object.logo_url }}
                        </a>
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if object.logo_url %}
        <div class="row mb-3">
            <div class="col-md-12">
                <strong>Aperçu du logo</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        <a href="{{ object.logo_url }}">
                            <img class="img-fluid" src="{{ object.logo_url }}" alt="Logo non accessible">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <strong>Tarifs</strong>
            <table class="table table-bordered table-stripped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Tarif VA ?</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for price in event.prices.all %}
                    <tr>
                        <td>{{ price.name }}</td>
                        <td>
                            {% if price.is_variable %}
                                Prix libre
                            {% elif price.price == 0 %}
                                Gratuit
                            {% else %}
                                {{ price.price|floatformat:2|intcomma }}€</td>
                            {% endif %}
                        <td>{{ price.is_va|yesno:"Oui,Non" }}</td>
                        <td>
                            <a href="{% url 'association-event-price-update' association.id event.id price.id %}"
                               data-toggle="tooltip" title="Modifier"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'association-event-price-delete' association.id event.id price.id %}"
                               data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <i>Aucun tarif n'a été défini pour cet événement.</i><br>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if can_update %}
                <a href="{% url 'association-event-price-new' association.id event.id %}"
                   class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Ajouter un tarif</a>
            {% endif %}
        </div>
    </div>

    <div class="row mb-3 text-center" style="margin-top: 2vh;">
        <div class="col-md-6">
            {% if object.has_poster %}
            <p><span class="dot dot-active"></span>  Souhaite être publié sur Affichage</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Ne souhaite pas être publié sur Affichage</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if object.allow_inkk %}
            <p><span class="dot dot-active"></span>  Souhaite être publié sur INKK</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Ne souhaite pas être publié sur INKK</p>
            {% endif %}
        </div>
    </div>

    {% if object.has_poster or object.allow_inkk %}
    <div class="row mb-3">
        <div class="col-md-6">
            <strong>Date de début de l'affichage sur les écrans</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.begin_publication_at|date:'DATETIME_FORMAT' }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <strong>Date de fin de l'affichage sur les écrans</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.end_publication_at|date:'DATETIME_FORMAT' }}</div>
            </div>
        </div>
    </div>
        {% if object.has_poster %}
        <div class="row mb-3">
            <div class="col-md-12">
                <strong>Affiche</strong>
                <div class="card bg-light">
                    <div class="card-body"><img src="{% get_media_prefix %}{{ object.poster }}" class="img-fluid" alt="Image introuvable" /></div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <strong>Durée d'apparition sur les TV</strong>
                <div class="card bg-light">
                    <div class="card-body">{{ object.duration }} secondes</div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if object.allow_inkk %}
        <div class="row mb-3">
            <div class="col-md-12">
                <strong>Banière INKK</strong>
                <div class="card bg-light">
                    <div class="card-body"><img src="{% get_media_prefix %}{{ object.banniere }}" class="img-fluid" alt="Image introuvable" /></div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    {% if request.user.is_active and request.user.is_staff %}
        <div class="row mb-3">
            <div class="col-12">
                <strong>Commentaires de modération</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.comments %}
                            {{ object.comments|linebreaksbr }}
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <p>
        <small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small>
    </p>
{% endblock %}