{% extends 'association/base_association.html' %}

{% load crispy_forms_tags %}

{% block css_js_header %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}

{% block page_sub_title %}
  Nouvel événement
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-event-list' association.id %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
    <button form="eventForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content_association %}
    {% crispy form %}
    <br/>
    <div class="alert alert-secondary" role="alert">
        L’évènement apparaîtra dans le <a href="{% url 'public-calendar-view' %}">calendrier de la VA</a>, et sera diffusé dans les newsletters VA,
        il est aussi recommandé d'ajouter un visuel sur <a href="https://affichage.bde-insa-lyon.fr/">l'affichage dynamique</a> (si vous ne souhaitez pas utilisez l'interface de Portail VA pour cela)
        et de l'ajouter aussi sur <a href="https://www.insa-lyon.fr/fr/proposer-un-evenement/">le site de l'INSA</a>
        pour qu'il soit affiché dans l'agenda officiel de l'INSA et potentiellement mis en avant par la DIRCOM (sur facebook ou autre).
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    <!--
        "use strict";
        $('#id_place').select2({
            width: '100%',
            dropdownAutoWidth: true,
            quietMillis: 100,
            minimumResultsForSearch: 10,
            formatSelection: function(object, container) {
                text = object.text;
                if (object.element[0].parentElement.nodeName === 'OPTGROUP') {
                    text = object.element[0].parentElement.getAttribute('label') + ' - ' + text;
                }
                return text;
            },
            formatResult: function(result, container) {
                container.attr('title', result.title || result.element[0].title);
                return result.text;
            },
            sorter: function(data) {
                return data.sort(function(a, b) {
                    return (a.text < b.text) ? -1 : (a.text > b.text ? 1 : 0);
                });
            },
            language: {
                noResults: function(){
                    return "Aucun lieu correspond à (ou contient) ce nom !";
               }
            },
        }).bind('setValue', function(e, value) {
            $('#id_place').val(value).trigger('change');
        });
        $('label[for=id_place]').on('click', function() { $('#id_place').select2('open'); });

        const $affichageDivSelector = [$('#div_id_duration'), $('#div_id_poster')];
        const $affichageCheckSelector = $('#div_id_has_poster input');

        const $inkkDivSelector = [$('#div_id_banniere')];
        const $inkkCheckSelector = $('#div_id_allow_inkk input');

        const $communDivSelector = [$('#div_id_begin_publication_at'), $('#div_id_end_publication_at')];

        if(!$affichageCheckSelector.is(':checked') && !$inkkCheckSelector.is(':checked')){
            $communDivSelector.map(($div) => {$div.hide('fast');});
            $affichageDivSelector.map(($div) => {$div.hide('fast');});
            $inkkDivSelector.map(($div) => {$div.hide('fast');});
        }

        $affichageCheckSelector.on('change', function () {
            if($affichageCheckSelector.is(':checked')){
                $communDivSelector.map(($div) => {$div.show('slow');});
                $affichageDivSelector.map(($div) => {$div.show('slow');});
            }else{
                if(!$inkkCheckSelector.is(':checked')){
                    $communDivSelector.map(($div) => {$div.hide('fast');});
                }
                $affichageDivSelector.map(($div) => {$div.hide('fast');});
            }
        });

        $inkkCheckSelector.on('change', function () {
            if($inkkCheckSelector.is(':checked')){
                $communDivSelector.map(($div) => {$div.show('slow');});
                $inkkDivSelector.map(($div) => {$div.show('slow');});
            }else{
                if(!$affichageCheckSelector.is(':checked')){
                    $communDivSelector.map(($div) => {$div.hide('fast');});
                }
                $inkkDivSelector.map(($div) => {$div.hide('fast');});
            }
        });
    //-->
    </script>
{% endblock %}