{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_seo %}
<link rel="canonical" href="{{ site_url }}{% url 'member-forgot-password' %}"/>
<title>Mot de passe oublié</title>
<meta name="title" content="Mot de passe oublié"/>
<meta name="description" content="Vous avez oublié votre mot de passe, pas de panique, cette page est faite pour vous aider."/>

<meta property="og:url" content="{{ site_url }}{% url 'member-forgot-password' %}"/>
<meta property="og:title" content="Mot de passe oublié"/>
<meta property="og:description" content="Vous avez oublié votre mot de passe, pas de panique, cette page est faite pour vous aider."/>

<meta property="twitter:url" content="{{ site_url }}{% url 'member-forgot-password' %}"/>
<meta property="twitter:title" content="Mot de passe oublié"/>
<meta property="twitter:description" content="Vous avez oublié votre mot de passe, pas de panique, cette page est faite pour vous aider."/>
{% endblock %}

{% block page_title %}
  Mot de passe oublié
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-3"></div>

    <div class="col-lg-4 col-md-6">
      {% crispy form %}
      <button type="submit" form="forgotForm" class="btn btn-primary btn-block">Envoyer</button>
    </div>

    <div class="col-lg-4 col-md-3"></div>
  </div>
{% endblock %}