{% extends 'base.html' %}

{% load bootstrap %}

{% block page_seo %}
<link rel="canonical" href="{{ site_url }}{% url 'member-login' %}"/>
<title>Identification</title>
<meta name="title" content="Identification"/>
<meta name="description" content="Connectez vous pour accéder à la gestion de votre association, ainsi qu'à de nombreux autres outils."/>

<meta property="og:url" content="{{ site_url }}{% url 'member-login' %}"/>
<meta property="og:title" content="Identification"/>
<meta property="og:description" content="Connectez vous pour accéder à la gestion de votre association, ainsi qu'à de nombreux autres outils."/>

<meta property="twitter:url" content="{{ site_url }}{% url 'member-login' %}"/>
<meta property="twitter:title" content="Identification"/>
<meta property="twitter:description" content="Connectez vous pour accéder à la gestion de votre association, ainsi qu'à de nombreux autres outils."/>
{% endblock %}

{% block page_title %}
    Identification
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-sm-3"></div>
        <div class="col-lg-4 col-sm-6">
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
            </form>
            <p></p>
            <p>
                <a href="{% url 'member-forgot-password' %}">Mot de passe oublié ?</a>
            </p>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>
{% endblock %}