{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_seo %}
    <title>Changer de mot de passe</title>
    <meta name="title" content="Changer de mot de passe"/>
{% endblock %}

{% block page_title %}
  Changer de mot de passe
{% endblock %}

{% block quick_actions %}
<a href="{% url 'homepage' %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
<button form="passwordForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}