{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_seo %}
    <title>Nouveau mot de passe</title>
    <meta name="title" content="Nouveau mot de passe"/>
{% endblock %}

{% block page_title %}
  Nouveau mot de passe
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 col-12">
      {% crispy form %}
    </div>

    <div class="col-md-3"></div>
  </div>
{% endblock %}