{% extends 'association/base_association.html' %}

{% load humanize %}
{% load static %}

{% block page_sub_title %}
    Détail d'un article
{% endblock %}

{% block quick_actions %}
    {% if can_delete %}
        <a href="{% url 'association-article-delete' association.id object.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</a>
    {% endif %}
    {% if not object.validated and can_publish %}
        <a href="{% url 'association-article-publish' association.id object.id %}" class="btn btn-success"><i class="fa fa-check"></i> Publier</a>
    {% endif %}
    {% if can_update %}
        <a href="{% url 'association-article-update' association.id object.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Mettre à jour</a>
    {% endif %}
{% endblock %}

{% block content_association %}
    {% if not object.validated %}
        {% if object.comments %}
        <div class="alert alert-danger" role="alert">
            <p>Cet article a été vu par un modérateur. Ce dernier demande la résolution des points suivants avant la mise en ligne.</p>
            <hr/>
            <p class="mb-0">{{ object.comments }}</p>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Cet article est en attente de validation par un modérateur. Il n'est donc pas en ligne.
        </div>
        {% endif %}
    {% else %}
        <div class="alert alert-success" role="alert">
            Cet article est validé et en ligne.
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-12">
            <strong>Titre</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.title }}</div>
            </div>
        </div>
    </div>

    {% if object.featured_image %}
        <div class="row mb-3">
            <div class="col-12">
                <strong>Image</strong>
                <div class="card bg-light">
                    <div class="card-body"><img src="{% get_media_prefix %}{{ object.featured_image }}" class="img-fluid" alt="Image introuvable" /></div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-12">
            <strong>Brève</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.short_content|safe }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <strong>Contenu</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.content|safe }}</div>
            </div>
        </div>
    </div>
    {% if request.user.is_active and request.user.is_staff %}
        <div class="row mb-3">
            <div class="col-12">
                <strong>Commentaires de modération</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.comments %}
                            {{ object.comments|linebreaksbr }}
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <p>
        <small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small>
    </p>
{% endblock %}