{% extends 'association/base_association.html' %}

{% block page_sub_title %}
  Supprimer une page du Bot'INSA
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-directory-detail' association.id %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
{% endblock %}

{% block content_association %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> Vous vous apprêtez à supprimer cette association du Bot'INSA. Cette action est <u>irréversible</u>.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}