{% extends 'association/base_association.html' %}

{% load l10n %}

{% block page_sub_title %}
    Bot'INSA
{% endblock %}

{% block quick_actions %}
    {% if perms.association.admin_directoryentry %}
        {% if object != None %}
            <a href="{% url 'association-print' association.id %}" class="btn btn-secondary"><i class="fa fa-print"></i> Voir la version publiée</a>
            <a href="{% url 'association-directory-delete' association.id %}" class="btn btn-danger"><i
                    class="fa fa-trash"></i> Supprimer</a>
            {% if not object.is_online %}
                <a href="{% url 'association-directory-publish' association.id %}" class="btn btn-success"><i
                        class="fa fa-check"></i> Publier</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <a href="{% url 'association-directory-update' association.id %}" class="btn btn-primary"><i
            class="fa fa-pencil"></i> Mettre à jour</a>
{% endblock %}

{% block content_association %}
    {% if not object %}
        <div class="alert alert-warning" role="alert">
            Vous n'avez jamais rempli de page pour le Bot'INSA.
        </div>
    {% else %}
        {% if not object.is_online %}
            <div class="alert alert-warning" role="alert">
                Cette version est en cours de validation par le responsable VA. Elle n'est donc pas encore publiée.
            </div>
        {% endif %}

        <div class="row mb-3">
            <div class="col-12">
                <strong>Description</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {{ object.description|linebreaksbr }}
                        <br/>
                        <small class="card-text text-muted {% if object.description|length >= 900 %}has-error{% endif %}">
                            {{ object.description|length }}/900 caractères
                        </small>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Adresse de contact</strong>
                <div class="card bg-light">
                    <div class="card-body"><a
                            href="mailto:{{ object.contact_address }}">{{ object.contact_address }}</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <strong>Numéro de téléphone</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.phone %}
                            <a href="tel:{{ object.phone }}">{{ object.phone }}</a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Horaires de permanence</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            {% for opening_hour in object.opening_hours.all %}
                                <tr>
                                    <td>{{ days|get_tuple:opening_hour.day }}</td>
                                    <td>de {{ opening_hour.begins_at|time:"H:i" }}</td>
                                    <td>à {{ opening_hour.ends_at|time:"H:i" }}</td>
                                    <td>
                                        <a href="{% url 'association-directory-opening-hour-update' association.id opening_hour.id %}"
                                           data-toggle="tooltip" title="Modifier"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'association-directory-opening-hour-delete' association.id opening_hour.id %}"
                                           data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4"><a
                                        href="{% url 'association-directory-opening-hour-new' association.id %}">Ajouter
                                    un horaire</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <strong>Lieu</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.place_id %}
                            <a href="http://www.openstreetmap.org/?mlat={{ object.place.lat|unlocalize }}&mlon={{ object.place.long|unlocalize }}&zoom=18">
                                {{ object.place.name }}
                            </a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <strong>URL site web</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.website_url %}
                            <a href="{{ object.website_url }}">{{ object.website_url }}</a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <strong>URL page Facebook</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.facebook_url %}
                            <a href="{{ object.facebook_url }}">{{ object.facebook_url }}</a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <strong>URL fil Twitter</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.twitter_url %}
                            <a href="{{ object.twitter_url }}">{{ object.twitter_url }}</a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <strong>URL fil Instagram</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.instagram_url %}
                            <a href="{{ object.instagram_url }}">{{ object.instagram_url }}</a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <strong>URL serveur Discord</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.discord_url %}
                            <a href="{{ object.discord_url }}">{{ object.discord_url }}</a>
                        {% else %}
                            <i>Non défini</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <p>
            <small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small>
        </p>
    {% endif %}
{% endblock %}