{% extends "base.html" %}
{% load utils_filters %}

{% load l10n %}
{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{% url 'association-print' association.id  %}"/>
    <title>{{ association.name }}</title>
    <meta name="title" content="{{ association.name }}{% if association.acronym %} ({{ association.acronym }}){% endif %}"/>
    <meta name="description" content="Vous trouverez ici une page présentant l'association {{ association.name }}{% if association.acronym %} ({{ association.acronym }}){% endif %}."/>

    <meta property="og:url" content="{{ site_url }}{% url 'association-print' association.id  %}"/>
    <meta property="og:title" content="{{ association.name }}"/>
    <meta property="og:description" content="Vous trouverez ici une page présentant l'association {{ association.name }}{% if association.acronym %} ({{ association.acronym }}){% endif %}."/>

    <meta property="twitter:url" content="{{ site_url }}{% url 'association-print' association.id  %}">
    <meta property="twitter:title" content="{{ association.name }}"/>
    <meta property="twitter:description" content="Vous trouverez ici une page présentant l'association {{ association.name }}{% if association.acronym %} ({{ association.acronym }}){% endif %}."/>
{% endblock %}

{% block page_title %}
    {{ association.name }}
{% endblock %}
{% block page_sub_title %}
    {% if association.acronym %}
        ({{ association.acronym }})
    {% endif %}

    {% if association.category.color %}
        <span class="badge badge-pill" style="color: #fff; background-color: {{ association.category.color }}">{{ association.category.name }}</span>
    {% else %}
        <span class="badge badge-pill badge-secondary">{{ association.category.name }}</span>
    {% endif %}

    {% if not association.is_active %}
        <span class="badge badge-pill badge-danger">Inactive</span>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        Informations générales
    </h2>
    <div class="mb-4">
        <div class="row">
            <div class="col-12">
                {% if association.logo_url %}
                    <img src="{{ association.logo_url }}" alt="Logo" class="float-right col-2">
                {% endif %}
                <h3>Description</h3>
                <p>
                    {% if association.current_directory_entry.description %}
                        {{ association.current_directory_entry.description|linebreaksbr }}
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Lieu</h5>
                <p>
                    <i class="fa fa-fw fa-location-arrow"></i>
                    {% if association.current_directory_entry.place %}
                        {% with place=association.current_directory_entry.place %}
                            <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                {{ place.name }}
                            </a>
                        {% endwith %}
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </p>
            </div>

            <div class="col-md-6">
                <h5>Site web</h5>
                <p>
                    <i class="fa fa-fw fa-external-link"></i>
                    {% if association.current_directory_entry.website_url %}
                        <a href="{{ association.current_directory_entry.website_url }}">
                            {{ association.current_directory_entry.website_url }}
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Contact</h5>
                <p>
                    <i class="fa fa-fw fa-envelope-o"></i>
                    {% if association.current_directory_entry.contact_address %}
                        <a href="mailto:{{ association.current_directory_entry.contact_address|anonymiseMail:True|safe }}">
                            {{ association.current_directory_entry.contact_address|anonymiseMail|safe }}
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}<br>

                    <i class="fa fa-fw fa-phone"></i>
                    {% with public_phone=association.current_directory_entry.public_phone %}
                        {% if public_phone and public_phone.phone %}
                            <a href="tel:{{ public_phone.phone }}">
                                {{ public_phone.phone }}
                            </a>{% if public_phone.source %} ({{ public_phone.source }}){% endif %}
                        {% else %}
                            <em>Non défini</em>
                        {% endif %}
                    {% endwith %}
                </p>

            </div>

            <div class="col-md-6">
                <h5>Réseaux sociaux</h5>
                <p>
                    <i class="fa fa-fw fa-facebook-f"></i>
                    {% if association.current_directory_entry.facebook_url %}
                        <a href="{{ association.current_directory_entry.facebook_url }}">
                            Facebook
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                    <br>

                    <i class="fa fa-fw fa-twitter"></i>
                    {% if association.current_directory_entry.twitter_url %}
                        <a href="{{ association.current_directory_entry.twitter_url }}">
                            Twitter
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                    <br>

                    <i class="fa fa-fw fa-instagram"></i>
                    {% if association.current_directory_entry.instagram_url %}
                        <a href="{{ association.current_directory_entry.instagram_url }}">
                            Instagram
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                    <br>

                    <i class="fab fa-fw fa-discord"></i>
                    {% if association.current_directory_entry.discord_url %}
                        <a href="{{ association.current_directory_entry.discord_url }}">
                            Discord
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <h2>
        Horaires de permanences
    </h2>
    {% with list_opening_hour=association.current_directory_entry.opening_hours.all %}
        {% if list_opening_hour %}
            <ul class="list-group">
            {% for opening_hour in list_opening_hour %}
                <li class="list-group-item">
                    {{ days|get_tuple:opening_hour.day }}
                    de {{ opening_hour.begins_at|time:"H:i" }}
                    à {{ opening_hour.ends_at|time:"H:i" }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <em>Aucun horaire défini</em>
        {% endif %}
    {% endwith %}

    <hr/>
    <h2>Évènements à venir</h2>
    <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab" data-children=".item">
    {% for event in association.online_events %}
        <div class="item">
            <a data-toggle="collapse" data-parent="#events"
               href="#event-{{ event.id }}" aria-expanded="true"
               aria-controls="event-{{ event.id }}">
                {% if event.association.acronym %}
                {{ event.name }} ({{ event.type.name }} - {{ event.association.acronym }})
                {% else %}
                {{ event.name }} ({{ event.type.name }} - {{ event.association.name }})
                {% endif %}
            </a>
            <div id="event-{{ event.id }}"
                 class="collapse{% if forloop.first %} show{% endif %}"
                 role="tabpanel">
                {% if event.logo_url %}
                    <img src="{{ event.logo_url }}" alt="Logo {{ event.name }}" class="float-right col-3 img-fluid">
                {% endif %}
                <p>
                    {{ event.description|linebreaksbr }}
                </p>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <i class="fa fa-fw fa-calendar"></i> {{ event.begins_at|date:'DATETIME_FORMAT' }}
                        - {{ event.ends_at|date:'DATETIME_FORMAT' }}
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-fw fa-location-arrow"></i>
                        {% if event.place %}
                            {% with place=event.place %}
                                <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                    {{ place.name }}
                                </a>
                            {% endwith %}
                        {% else %}
                            <em>Non défini</em>
                        {% endif %}
                    </div>
                </div>
                {% if event.website_url or event.facebook_url %}
                <div class="row mb-2">
                    {% if event.website_url %}
                    <div class="col-6">
                        <i class="fa fa-fw fa-link"></i>
                            <a href="{{ event.website_url }}">Page web</a>
                    </div>
                    {% endif %}
                    {% if event.facebook_url %}
                    <div class="col-6">
                        <i class="fa fa-fw fa-facebook"></i>
                            <a href="{{ event.facebook_url }}">Evènement Facebook</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% with prices=event.prices.all %}
            {% if prices|length > 0 %}
                <hr/><h6><i class="fa fa-fw fa-money"></i> Tarifs de l'évènement</h6>
                <ul class="list-group">
                {% for priceElement in prices %}
                    <li class="list-group-item list-group-item-action flex-column">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-6">
                                <strong>{{priceElement.name}}</strong>
                            </div>
                            <div class="col-md-6">
                                {% if priceElement.price and not priceElement.is_variable %}
                                <strong>{{priceElement.price}} €</strong>
                                {% endif %}

                                {% if priceElement.is_variable %}
                                <span>Prix libre</span>
                                {% endif %}

                                {% if priceElement.is_va %}
                                    <span> - (Tarif VA)</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul><br/>
            {% endif %}
            {% endwith %}
            </div>
        </div>
    {% empty %}
        <em>Aucun évènement à venir.</em>
    {% endfor %}
    </div>
    <hr/>
    <div class="mb-2">
        Cette page a été imprimée le {{ now|date }} à {{ now|time }}.
    </div>
{% endblock %}
