{% extends "base.html" %}

{% load l10n %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{% url 'association-directory-public' %}"/>
    <title>Bot'INSA</title>
    <meta name="title" content="Bot'INSA"/>
    <meta name="description" content="Le Bot'INSA est un annuaire des associations de l'INSA de Lyon. Vous trouverez ici toutes les informations sur les associations de notre campus."/>

    <meta property="og:url" content="{{ site_url }}{% url 'association-directory-public' %}"/>
    <meta property="og:title" content="Bot'INSA"/>
    <meta property="og:description" content="Le Bot'INSA est un annuaire des associations de l'INSA de Lyon. Vous trouverez ici toutes les informations sur les associations de notre campus."/>

    <meta property="twitter:url" content="{{ site_url }}{% url 'association-directory-public' %}">
    <meta property="twitter:title" content="Bot'INSA"/>
    <meta property="twitter:description" content="Le Bot'INSA est un annuaire des associations de l'INSA de Lyon. Vous trouverez ici toutes les informations sur les associations de notre campus."/>
{% endblock %}

{% block page_title %}
    Bot'INSA
{% endblock %}

{% block content %}
    <h2>
        Toutes les associations
        {% if cat or query %}
            <small class="text-muted">({{ associations.count }} selon les critères choisis)</small>
        {% endif %}
    </h2>
    <div class="row mb-4">
        <div class="col-12">
            <form action="{% if cat %}?cat={{ cat }}{% endif %}" method="get" class="form-inline">
                <label class="sr-only" for="selectCat">Catégorie</label>
                <select name="cat" id="selectCat" class="custom-select mr-2">
                    <option value="" {% if not cat %}selected{% endif %}>Catégorie...</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                                {% if cat and cat|add:"0" == category.id %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="input-group mr-2">
                    <input type="text"
                           name="query"
                           class="form-control"
                           placeholder="Recherche..." value="{% if query %}{{ query }}{% endif %}">
                </div>
                <button class="btn btn-primary mr-2" type="submit">
                    <i class="fa fa-search"></i> Chercher
                </button>
                <a href="?cat=&query=" class="btn btn-light form-control">
                    <i class="fa fa-ban"></i> Réinitialiser
                </a>
            </form>
        </div>
    </div>
    <ul class="nav nav-tabs" id="navigation-type-association" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active-association" role="tab" aria-controls="active-association" aria-selected="true">Actives <span class="badge badge-pill badge-primary">{{ count_active }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive-association" role="tab" aria-controls="inactive-association" aria-selected="false">Inactives/en sommeil <span class="badge badge-pill badge-primary">{{ count_inactive }}</span></a>

        </li>
    </ul>

    <script src="{% static "js/src/modalBotINSA.js" %}"></script>

    <div class="tab-content" id="navigation-type-association-content">
        <div class="tab-pane fade show active" id="active-association" role="tabpanel" aria-labelledby="active-tab">
            <div class="card-columns">
            {% for asso in associations %}
                {% if asso.is_active %}
                <div class="card">
                    {% if asso.logo_url %}
                        <div id="logo_{{ asso.id }}" class="skeleton">
                            <img class="card-img-top" src="{{ asso.logo_url }}" onload="removeSkeleton('logo_{{ asso.id }}')" onerror="removeSkeleton('logo_{{ asso.id }}')" alt="Logo introuvable">
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ asso.name }}
                            {% if asso.acronym %}
                                <small>
                                    ({{ asso.acronym }})
                                </small>
                            {% endif %}
                            {% if asso.category.color %}
                                <span class="badge badge-pill" style="color: #fff; background-color: {{ asso.category.color }}">{{ asso.category.name }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-secondary">{{ asso.category.name }}</span>
                            {% endif %}
                        </h4>
                        <p class="card-text">{{ asso.current_directory_entry.description|linebreaksbr|truncatewords:42 }}</p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="getModal('{% url "api-v1-directory-index" %}', {{ asso.id }})">
                                Plus d'infos
                            </button>
                            {% if user.is_superuser or user.is_staff %}
                                <a href="{% url 'association-detail' asso.id %}" class="btn btn-light">
                                    Admin
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% empty %}
                <h4 class="text-center">Aucune association à afficher !</h4>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="inactive-association" role="tabpanel" aria-labelledby="inactive-tab">
            <p class="text-justify text-break">
                Ces associations sont en sommeil, cela signifie que personne ne s’en occupe actuellement mais qu’elles n’attendent que toi pour les faire revivre !<br/>
                Certaines possèdent peut­être encore un local et du matériel pour leur fonctionnement alors n’hésite pas à contacter le CVA si tu es intéressé.e
                ou si tu as une idée de nouvelle association Insalienne à créer !<br/>
            </p>
            <div class="card-columns">
            {% for asso in associations %}
                {% if asso.is_active is False %}
                <div class="card">
                    {% if asso.logo_url %}
                        <div id="logo_{{ asso.id }}" class="skeleton">
                            <img class="card-img-top" src="{{ asso.logo_url }}" onload="removeSkeleton('logo_{{ asso.id }}')" onerror="removeSkeleton('logo_{{ asso.id }}')" alt="Logo introuvable">
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ asso.name }}
                            {% if asso.acronym %}
                                <small>
                                    ({{ asso.acronym }})
                                </small>
                            {% endif %}
                            <span class="badge badge-pill badge-secondary">{{ asso.category.name }}</span>
                        </h4>
                        <p class="card-text">{{ asso.current_directory_entry.description|linebreaksbr|truncatewords:42 }}</p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="getModal('{% url "api-v1-directory-index" %}', {{ asso.id }})">
                                Plus d'infos
                            </button>
                            {% if user.is_superuser or user.is_staff %}
                                <a href="{% url 'association-detail' asso.id %}" class="btn btn-light">
                                    Admin
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% empty %}
                <h4 class="text-center">Aucune association à afficher !</h4>
            {% endfor %}
            </div>
        </div>
    </div>

    {% include 'directory/asso_modals.html' %}
{% endblock %}