{% extends 'base.html' %}

{% load requirement_extras %}
{% block page_title %}
  Situation administrative
{% endblock %}

{% block page_sub_title %}
  <br/>{{ object.name }}
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'requirement-list' %}" class="btn btn-secondary"><i class="fa fa-list"></i> Retourner à la liste</a>
    {% if request.user.is_active and request.user.is_staff %}
        <a href="{% url 'requirement-delete' object.id %}" class="btn btn-danger"><i class="fa fa-trash"></i>
            Supprimer</a>
        <a href="{% url 'requirement-update' object.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Modifier</a>
    {% endif %}
{% endblock %}

{% block content %}
  <br/>
  <table id="prettyTable" class="table table-bordered table-stripped" data-page-length="100">
    <thead>
      <tr>
        <th>Association</th>
        {% if not object.type == 'accomplishment' and not object.type == 'room' %}
        <th>Etat</th>
        {% endif %}
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for association in associations %}

      <!-- Coloring the row -->
  <tr class="table-{% if requirement|is_achieved:association.id %}success{% else %}danger{% endif %}">
      <!-- Filling the first cell for each row -->
          {% if not association.acronym %}
            <td><a href="{% url 'association-detail' association.id %}">{{ association.name }}</a></td>
          {% else %}
            <td><a href="{% url 'association-detail' association.id %}">{{ association.acronym }}</a> <small>({{ association.name }})</small></td>
          {% endif %}
          
      <!-- Filling the other cells for each row -->
          {% if not object.type == 'accomplishment' and not object.type == 'room' %}
            <td class="text-center">
            {% if object|is_achieved:association.id %}
              <span class="label label-success">Validé</span>
            {% else %}
              <span class="label label-danger">Non validé</span>
            {% endif %}
            </td>
          {% endif %}
          <td class="text-center">
            {% if object.type == 'accomplishment' or object.type == 'room' %}
              {% if not requirement|is_achieved:association.id %}
                <form action="{% url 'association-requirement-achieve' association.id object.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-xs btn-success"><i class="fa fa-check"></i> Valider</button>
                </form>
              {% else %}
                <form action="{% url 'association-requirement-achieve' association.id object.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Invalider</button>
                </form>
              {% endif %}
            {% elif object.type == 'file' %}
              {% if not requirement|is_achieved:association.id %}
                -
              {% else %}
                <a href="{% url 'association-file-tree' association.id object.get_folder_id %}" class="btn btn-xs btn-primary">
                  <i class="fa fa-eye"></i> Voir
                </a>
              {% endif %}
            {% elif object.type == 'mandate' or object.type == 'role' %}
              {% if not requirement|is_achieved:association.id %}
                -
              {% else %}
                <a href="{% url 'association-mandate-list' association.id %}" class="btn btn-xs btn-primary">
                  <i class="fa fa-eye"></i> Voir
                </a>
              {% endif %}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
