{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    <title>Exportation de données</title>
    <meta name="title" content="Exportation de données"/>
{% endblock %}

{% block page_title %}
    Exportation de données
{% endblock %}

{% block content %}
    <p class="text-info">Cette page vous permet d'exporter les données liées aux associations vers des fichiers
        Excel.</p>
    <div class="row text-center">
        <form class="col-md-12" method="post">
            {% csrf_token %}
            <h4>Sélectionner les associations :</h4>
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="filter" value="ALL" id="option1" autocomplete="off" checked> Toutes
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="filter" value="ACTIVE" id="option2" autocomplete="off"> Actives
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="filter" value="DEAD" id="option3" autocomplete="off"> Mortes
                </label>
            </div>
            <h4 class="mt-2">Données à exporter :</h4>
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" name="data" value="BASIC" autocomplete="off" checked> Informations basiques
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="VALIDATIONS" autocomplete="off"> Validations
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="PRESIDENT" autocomplete="off"> Contact président
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="DD" autocomplete="off"> Contact responsable DD
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="COVID" autocomplete="off"> Contact responsable COVID
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="REGISTRATION" autocomplete="off"> SIREN/RNA
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="BANK" autocomplete="off"> IBAN + BIC
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="SUPPLEMENTARY" autocomplete="off"> Informations
                    complémentaires
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="data" value="BNP" autocomplete="off"> BNP (Ignore les autres colonnes)
                </label>
            </div>
            <button type="submit" class="btn btn-success btn-block btn-lg col-md-4 mt-4 ml-auto mr-auto">Télécharger
            </button>
        </form>
    </div>
{% endblock %}
