/* main.scss */
html {
    position: relative;
    min-height: 100%;
}

/* Fixed top navba */
body {
    padding-top: 70px;
    margin-bottom: 40px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.brand-colored {
    color: #e93c46;
}

body > .container {
    margin-bottom: 4em;
}

/* Fixed footer */
footer {
    align-items: center;
    background-color: #f8f8f8;
    bottom: 0;
    display: flex;
    font-size: 15px;
    height: min(4rem,50px);
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

@media (max-width: 580px) {
    footer {
        display: block;
        height: 65px;
        text-align: center;
    }
}

footer a i {
    font-size: max(20px,3vh);
}

footer div {
    margin: auto 0 auto auto;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0 0 0 10px;
}

footer li {
    display: inline;
}

footer li a {
    margin: 20px;
}

footer > .text-muted > .brand {
    color: #333;
}

footer > .text-muted > .brand > a {
    color: #333;
    text-decoration: underline;
}

footer > .text-muted > .brand > a:hover {
    color: #e93c46;
}

footer > .text-muted > .version > a {
    color: #333;
    text-decoration: underline;
}

footer > .text-muted > .version > a:hover {
    color: #e93c46;
}

footer .brand-colored:hover {
    color: #333;
}

blockquote .list-inline-item > a:hover {
    color: #333;
}

/* Icons */
i.fa {
    padding-right: 5px;
}

i.fab {
    padding-right: 5px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0, 0, 0, 0);
    border:0
}

.tab-content {
    padding-top: 20px;
}

#highlights {
    min-height: 230px;
}

.has-error{
    color:#e93c46 !important;
}

.list-group-item:hover {
    transition: background 0.4s ease;
    background-color: #cccccc !important;
    border: #cccccc;
    border-radius: 5px;
    word-break: normal;
}

.card-home {
    border: none;
}

.figure {
    font-size: xx-large;
}

@keyframes animateSkeleton {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
}

.skeleton {
    background-color: rgba(0, 0, 0, 0.08);
    height: 40vh;
    animation: 1.5s ease-in-out infinite animateSkeleton;
}

.skeletonThumb {
    height: 75%;
}

.skeletonText {
    height: 0.8em;
    width: 70%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border-radius: 4px;
}

.skeletonShortText {
    height: 0.8em;
    width: 40%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border-radius: 4px;
}

.skeletonTitle {
    height: 1.2em;
    width: 50%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border-radius: 4px;
}

.skeletonBadge {
    height: 1em;
    width: 30%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: .25em .6em;
    border-radius: 10rem;
}

.skeleton > img {
    display: none;
}

.invalid-feedback {
    display: inline;
}

.dashboard-section {
    cursor: pointer;
}

.dashboard-section:hover {
    transition: background 0.4s ease;
    background-color: #cccccc !important;
}

.dashboard-card-round {
    border-radius: 0.25rem !important;
    border: 1px solid rgba(0,0,0,.125) !important;
}

.dashboard-card-round > .card-header {
    transition: background 0.4s ease;
    background-color: #ffc4ff;
}

.dashboard-card-top-round {
    border-radius: 0.25rem 0.25rem 0 0 !important;
    border: 1px solid rgba(0,0,0,.125) !important;
}

.dashboard-card-top-round > .card-header {
    transition: background 0.4s ease;
    background-color: #d05ce3;
}

.select2-container--default .select2-selection--single{
    background-color: inherit !important;
}

.select2-container--default:hover .select2-selection--single:hover .select2-selection__rendered{
    transition: .25s ease;
    color: #ededed !important;
    background-color: #606263 !important;
}

.select2-results{
    text-align: left;
    font-size: 14px;
}

.select2-results__option[aria-selected="true"]{
    background-color: #606263 !important;
    color:#ededed !important;
}

.select2-results__option--highlighted[aria-selected]{
    background-color: #e93c46 !important;
    color:#ededed !important;
}

.dot {
  height: 12px;
  width:12px;
  border-radius: 50%;
  display: inline-block;
}

.dot-active {
  background-color: rgb(30,241,27);
}

.dot-inactive {
  background-color: rgb(231,25,47);
}
