{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 400</title>
    <meta name="title" content="Erreur 400"/>
    <meta name="description" content="Vous semblez nous parler dans une langue inconnue ! Veuillez réessayer d'une manière compréhensible pour nous !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 400"/>
    <meta property="og:description" content="Vous semblez nous parler dans une langue inconnue ! Veuillez réessayer d'une manière compréhensible pour nous !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 400"/>
    <meta property="twitter:description" content="Vous semblez nous parler dans une langue inconnue ! Veuillez réessayer d'une manière compréhensible pour nous !"/>
{% endblock %}

{% block page_title %}
    Erreur 400
{% endblock %}

{% block content %}
    <p>Vous semblez nous parler dans une langue inconnue ! Veuillez réessayer d'une manière compréhensible pour nous !</p>
{% endblock %}