{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 401</title>
    <meta name="title" content="Erreur 401"/>
    <meta name="description" content="Il semblerait que vous n'ayez pas les permissions nécessaires pour accéder à cette ressource, demandez à votre référent de vous donner les droits !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 401"/>
    <meta property="og:description" content="Il semblerait que vous n'ayez pas les permissions nécessaires pour accéder à cette ressource, demandez à votre référent de vous donner les droits !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 401"/>
    <meta property="twitter:description" content="Il semblerait que vous n'ayez pas les permissions nécessaires pour accéder à cette ressource, demandez à votre référent de vous donner les droits !"/>
{% endblock %}

{% block page_title %}
    Erreur 401
{% endblock %}

{% block content %}
    <p>Il semblerait que vous n'ayez pas les permissions nécessaires pour accéder à cette ressource, demandez à votre référent de vous donner les droits !</p>
{% endblock %}