{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 403</title>
    <meta name="title" content="Erreur 403"/>
    <meta name="description" content="Une ressource ? Où ça ? Vous semblez être perdu ! Si vous êtes sûr qu'une ressource est présente ici, il se pourrait que vous n'ayez pas les droits suffisants pour la voir !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 403"/>
    <meta property="og:description" content="Une ressource ? Où ça ? Vous semblez être perdu ! Si vous êtes sûr qu'une ressource est présente ici, il se pourrait que vous n'ayez pas les droits suffisants pour la voir !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 403"/>
    <meta property="twitter:description" content="Une ressource ? Où ça ? Vous semblez être perdu ! Si vous êtes sûr qu'une ressource est présente ici, il se pourrait que vous n'ayez pas les droits suffisants pour la voir !"/>
{% endblock %}

{% block page_title %}
    Erreur 403
{% endblock %}

{% block content %}
    <p>Une ressource ? Où ça ? Vous semblez être perdu ! Si vous êtes sûr qu'une ressource est présente ici, il se pourrait que vous n'ayez pas les droits suffisants pour la voir !</p>
{% endblock %}