{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 404</title>
    <meta name="title" content="Erreur 404"/>
    <meta name="description" content="Il semblerait que vous vous soyez perdu, cet endroit n'existe pas !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 404"/>
    <meta property="og:description" content="Il semblerait que vous vous soyez perdu, cet endroit n'existe pas !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 404"/>
    <meta property="twitter:description" content="Il semblerait que vous vous soyez perdu, cet endroit n'existe pas !"/>
{% endblock %}

{% block page_title %}
    Erreur 404
{% endblock %}

{% block content %}
    <p>Il semblerait que vous vous soyez perdu, cet endroit n'existe pas !</p>
{% endblock %}