{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 500</title>
    <meta name="title" content="Erreur 500"/>
    <meta name="description" content="Il semblerait qu'un petit problème se soit produit, n'hésitez pas à nous contacter sur GitLab pour nous faire remonter ça !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 500"/>
    <meta property="og:description" content="Il semblerait qu'un petit problème se soit produit, n'hésitez pas à nous contacter sur GitLab pour nous faire remonter ça !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 500"/>
    <meta property="twitter:description" content="Il semblerait qu'un petit problème se soit produit, n'hésitez pas à nous contacter sur GitLab pour nous faire remonter ça !"/>
{% endblock %}

{% block page_title %}
    Erreur 500
{% endblock %}

{% block content %}
    <p>Il semblerait qu'un petit problème se soit produit, n'hésitez pas à nous contacter sur <a href="https://gitlab.com/sia-insa-lyon/portailva">GitLab</a> pour nous faire remonter ça !</p>
{% endblock %}