{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 502</title>
    <meta name="title" content="Erreur 502"/>
    <meta name="description" content="Le serveur nous a retourné des choses invraisemblables ! Veuillez réessayer, ou nous faire remonter ce problème sur GitLab !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 502"/>
    <meta property="og:description" content="Le serveur nous a retourné des choses invraisemblables ! Veuillez réessayer, ou nous faire remonter ce problème sur GitLab !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 502"/>
    <meta property="twitter:description" content="Le serveur nous a retourné des choses invraisemblables ! Veuillez réessayer, ou nous faire remonter ce problème sur GitLab !"/>
{% endblock %}

{% block page_title %}
    Erreur 502
{% endblock %}

{% block content %}
    <p>Le serveur nous a retourné des choses invraisemblables !
        Veuillez réessayer, ou nous faire remonter ce problème sur <a href="https://gitlab.com/sia-insa-lyon/portailva">GitLab</a> !</p>
{% endblock %}