{% extends "base.html" %}
{% load staticfiles %}

{% block page_seo %}
    <link rel="canonical" href="{{ site_url }}{{request.path}}"/>
    <title>Erreur 503</title>
    <meta name="title" content="Erreur 503"/>
    <meta name="description" content="Nous sommes actuellement en maintenance, nous vous remercions de votre patience le temps que le service reprenne !"/>

    <meta property="og:url" content="{{ site_url }}{{request.path}}"/>
    <meta property="og:title" content="Erreur 503"/>
    <meta property="og:description" content="Nous sommes actuellement en maintenance, nous vous remercions de votre patience le temps que le service reprenne !"/>

    <meta property="twitter:url" content="{{ site_url }}{{request.path}}">
    <meta property="twitter:title" content="Erreur 503"/>
    <meta property="twitter:description" content="Nous sommes actuellement en maintenance, nous vous remercions de votre patience le temps que le service reprenne !"/>
{% endblock %}

{% block page_title %}
    Erreur 503
{% endblock %}

{% block content %}
    <p>Nous sommes actuellement en maintenance, nous vous remercions de votre patience le temps que le service reprenne !</p>
{% endblock %}