{% load utils_filters %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="{% static 'img/va_color.png' %}"/>
    <meta name="theme-color" content="#e93c46"/>

    {% block page_seo %}
    <link rel="canonical" href="{{ site_url }}/"/>
    <title>Portail VA</title>
    <meta name="title" content="Portail VA"/>
    <meta name="description" content="Portail VA est la plateforme web des associations de l'INSA de Lyon. Vous trouverez ici des liens utiles pour les associations, ainsi que un annuaire de ces dernières et un calendrier des évènements à venir."/>

    <meta property="og:url" content="{{ site_url }}/"/>
    <meta property="og:title" content="Portail VA"/>
    <meta property="og:description" content="Portail VA est la plateforme web des associations de l'INSA de Lyon. Vous trouverez ici des liens utiles pour les associations, ainsi que un annuaire de ces dernières et un calendrier des évènements à venir."/>

    <meta property="twitter:url" content="{{ site_url }}/">
    <meta property="twitter:title" content="Portail VA"/>
    <meta property="twitter:description" content="Portail VA est la plateforme web des associations de l'INSA de Lyon. Vous trouverez ici des liens utiles pour les associations, ainsi que un annuaire de ces dernières et un calendrier des évènements à venir."/>
    {% endblock %}

    {# Google bot #}
    <meta name="keywords" content="Portail VA, PVA, INSA, INSA Lyon, Association, Vie Associative, Conseil de la Vie Associative, CVA, VA, Bot'INSA"/>
    <meta name="abstract" content="Portail VA, PVA, INSA, INSA Lyon, Association, Vie Associative, Conseil de la Vie Associative, CVA, VA, Bot'INSA"/>
    <meta name="distribution" content="Global"/>
    <meta name="category" content="Association, INSA Lyon, Vie Associative"/>
    <meta name="language" content="fr"/>
    <meta name="identifier-url" content="{{ site_url }}/"/>
    <meta name="resource-type" content="document"/>
    <meta name="robots" content="index, follow"/>
    <meta name="google" content="notranslate"/>
    <meta name="revisit-after" content="2"/>

    {# Open Graph / Facebook #}
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:site_name" content="Portail VA"/>
    <meta property="og:image" content="{{ site_url }}{% static 'img/logo_mail.png' %}"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:image:type" content="image/png"/>

    {# Twitter #}
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:image" content="{{ site_url }}{% static 'img/logo_mail.png' %}"/>

    {# Stylesheets #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css" integrity="sha384-WCuYjm/u5NsK4s/NfnJeHuMj6zzN2HFyjhBu/SnZJj7eZ6+ds4zqIM3wYgL59Clf" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" integrity="sha384-bsGkvB1NLsaPUZL6GG0N5H9GOW9DK6KiHrrDvO57EJXoD9H3gzlohtuPENw9/24L" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha384-O1hPCzrpXngZMErIjr+H0eOvTf1GKeN4n8CAAgeGgNT8SmQot8u0Zf7V9ipByhSi" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" integrity="sha384-Z9D45cp3elqajO+xEyjRTIK1Gr3eYsXiyCPIKNog1sIQzpo2fqFDqFdADGiJjzOv" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/filtering/type-based/accent-neutralise.js" integrity="sha384-IY/DHpw0/QfW3gH+nVk10pVhiN1dqOttmfXyjwcio6RnLu0awZhaQ/VBu0K5uLeU" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" integrity="sha384-ldQcdLcQS6WdInz7/H5EvUsc+DFY6IZGZkAzFAOln7RKseNuPvXOm9txFW6hr8rI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" integrity="sha384-8SI662MiMZn6eppgHSTHOne5FhCD3QYAv8U9DPvf5PhVa4F/zPm6jxrhJSNcc0SJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha384-eRwUWQDbnWMRrNpCKFsqmkfL7PMM8a4uUw5AvjTuLRoYFfozRz7g9BS696LvdNrE" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    {% block css_js_header %}{% endblock %}

    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

    <link rel="apple-touch-icon" href="{% static 'img/va_color_small.png' %}"/>
    <link rel="icon" id="favicon" type="image/png" href="{% static 'img/va_color_small.png' %}"/>
</head>
<body>

{# Menu #}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'homepage' %}">Portail<strong class="brand-colored">VA</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item{% if request.resolver_match.url_name == 'homepage' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'homepage' %}">Accueil</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item{% if request.resolver_match.url_name == 'public-article-list' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'public-article-list' %}">Actualités</a>
                </li>
                <li class="nav-item{% if request.resolver_match.url_name == 'association-directory-public' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'association-directory-public' %}">Bot'INSA</a>
                </li>
                <li class="nav-item{% if request.resolver_match.url_name == 'public-calendar-view' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'public-calendar-view' %}">Calendrier</a>
                </li>
                {% else %}
                <li class="nav-item dropdown{% if request.resolver_match.url_name in 'public-article-list, association-directory-public, public-calendar-view' %} active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Général<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'public-article-list' %} active{% endif %}" href="{% url 'public-article-list' %}"><i class="fa fa-bullhorn"></i> Actualités</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'association-directory-public' %} active{% endif %}" href="{% url 'association-directory-public' %}"><i class="fa fa-book"></i> Bot'INSA</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'public-calendar-view' %} active{% endif %}" href="{% url 'public-calendar-view' %}"><i class="fa fa-calendar-o"></i> Calendrier</a>
                    </div>
                </li>
                {% endif %}

                {% if user.is_active %}
                    <li class="nav-item{% if request.resolver_match.url_name == 'associations-directory' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'associations-directory' %}">Annuaire</a>
                    </li>
                {% endif %}

                {% if my_associations.count == 1 %}
                    <li class="nav-item{% if request.resolver_match|check_navbar_association_active %} active{% endif %}">
                        <a class="nav-link"
                           href="{% url 'association-detail' my_associations.0.id %}">{{ my_associations.0.name }}</a>
                    </li>
                {% elif my_associations.count > 1 %}
                    <li class="nav-item dropdown{% if request.resolver_match|check_navbar_association_active %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Mes associations<span class="caret"></span></a>
                        <div class="dropdown-menu{% if request.resolver_match|check_navbar_association_active %} active{% endif %}">
                            {% for association in my_associations %}
                                <a class="dropdown-item{% if request.resolver_match|check_association_active:association.id %} active{% endif %}"
                                   href="{% url 'association-detail' association.id %}">{{ association.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}

                {# Admin stuff #}
                {% if request.user.is_active and request.user.is_staff %}
                    <li class="nav-item dropdown{% if request.resolver_match.url_name in 'admin-dashboard, requirement-list, export' %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Supervision<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% if perms.association.admin_requirement %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'admin-dashboard' %} active{% endif %}"
                                   href="{% url 'admin-dashboard' %}"><i class="fa fa-tachometer"></i> Tableau de bord</a>
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'requirement-list' %} active{% endif %}"
                                   href="{% url 'requirement-list' %}"><i class="fa fa-list-alt"></i> Situation administrative</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'export' %} active{% endif %}"
                                   href="{% url 'export' %}"><i class="fa fa-file-text"></i> Exporter les données</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

                {% if request.user.is_active and request.user.is_staff %}
                    <li class="nav-item dropdown{% if request.resolver_match.url_name in 'association-list, file-list, resource-folder-list, place-list, newsletter-list' %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Gestion<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% if perms.association.admin_association %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'association-list' %} active{% endif %}"
                                   href="{% url 'association-list' %}"><i class="fa fa-university"></i> Associations</a>
                            {% endif %}
                            {% if perms.file.can_admin_file %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'file-list' %} active{% endif %}"
                                   href="{% url 'file-list' %}"><i class="fa fa-file"></i> Fichiers</a>
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'resource-folder-list' %} active{% endif %}"
                                   href="{% url 'resource-folder-list' %}"><i class="fa fa-folder-open"></i> Ressources</a>
                            {% endif %}
                            {% if perms.utils.can_admin_place %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'place-list' %} active{% endif %}"
                                   href="{% url 'place-list' %}"><i class="fa fa-map-marker"></i> Lieux</a>
                            {% endif %}
                            {% if perms.utils.can_admin_newsletter %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'newsletter-list' %} active{% endif %}"
                                   href="{% url 'newsletter-list' %}"><i class="fa fa-envelope"></i> Newsletters</a>
                            {% endif %}
                            {% if user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa fa-cogs"></i> Interface Django</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown{% if request.resolver_match.url_name == 'member-change-password' %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item{% if request.resolver_match.url_name == 'member-change-password' %} active{% endif %}"
                               href="{% url 'member-change-password' %}"><i class="fa fa-key"></i> Changer le mot de passe</a>
                            {% if user.is_staff %}
                            <a class="dropdown-item"
                               href="{% static "pdf/Guide_complet.pdf" %}" rel="noreferrer noopener" target="_blank">
                                <i class="fa fa-life-ring"></i> Aide
                            </a>
                            {% else %}
                            <a class="dropdown-item"
                               href="{% static "pdf/Guide_utilisateur.pdf" %}" rel="noreferrer noopener" target="_blank">
                                <i class="fa fa-life-ring"></i> Aide
                            </a>
                            {% endif %}
                            <a class="dropdown-item"
                               href="{{ repository.bugtracker }}" rel="noreferrer noopener" target="_blank"><i class="fa fa-bug"></i> Signaler un problème</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{% url 'member-logout' %}"><i class="fa fa-sign-out"></i> Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item{% if request.resolver_match.url_name == 'member-login' %} active{% endif %}">
                        <a href="{% url 'member-login' %}" class="nav-link">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-12">
            <h1>
                {% block page_title %}{% endblock %}
                <small class="text-muted">{% block page_sub_title %}{% endblock %}</small>

                <div class="btn-group float-right" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        {% block quick_actions %}{% endblock %}
                    </div>
                </div>
            </h1>
            <hr>
        </div>
    </div>

    {% block content %}{% endblock %}
</div>

<footer class="px-3">
    <p class="text-muted">
        <span class="brand">&copy; SIA INSA Lyon {% now "Y" %} - <a href="{% url 'mention' %}">Mentions légales</a></span>
    </p>
    <p class="text-muted">
        {% if git_version.name %}
        <span class="version">Version : <a href="{{ git_version.url }}">{{ git_version.name }}</a></span>
        {% else %}
        <span class="version">Version : <a href="{{ repository.tags }}" rel="noreferrer noopener" target="_blank">{{ repository.release }}</a></span>
        {% endif %}
    </p>
    <div>
        <ul>
            <li><a href="{{ repository.url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-gitlab brand-colored"></i></a></li>
            <li><a href="{{ contact_links.insta_url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-instagram brand-colored"></i></a></li>
            <li><a href="{{ contact_links.fb_url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-facebook-f brand-colored"></i></a></li>
            <li><a href="{{ contact_links.discord_url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-discord brand-colored"></i></a></li>
        </ul>
    </div>
</footer>
{% block js %}{% endblock %}
</body>
</html>
