{% extends "base.html" %}
{% load utils_filters %}
{% load staticfiles %}

{% block page_title %}
    Bienvenue sur Portail VA !
{% endblock %}

{% block content %}
    <blockquote class="blockquote">
        <p class="mb-0 text-left">Ici tu trouveras le <a  href="{% url 'association-directory-public' %}">Bot'INSA</a>, grand annuaire des associations INSAliennes.
            Tu pourras y dénicher des informations sur toutes les associations, comment les contacter, leurs permanences et leurs événements.<br/>
            Si tu souhaites suivre les actualités de la Vie Associative en profondeur, n'hésite pas à nous rejoindre aussi sur les réseaux sociaux !
            <ul class="list-inline text-center" style="font-size: xx-large">
                <li class="list-inline-item"><a href="{{ contact_links.insta_url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="{{ contact_links.fb_url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="{{ contact_links.discord_url }}" rel="noreferrer noopener" target="_blank"><i class="fab fa-discord"></i></a></li>
            </ul>
            Si tu te connectes en tant qu’association, tu auras également accès à ton espace personnel, mais aussi à beaucoup de ressources qui te seront utiles.
        </p>
        <p class="mb-0 text-center">Va vite explorer tout ça et si tu rencontres un problème, tu peux nous contacter sur {{ "cva@led.insa-lyon.fr"|anonymiseMail|safe }}, ou sur Discord, à très vite.</p>
        <footer class="blockquote-footer text-center"><cite title="l’équipe CVA">l’équipe CVA.</cite></footer>
    </blockquote>

    <div class="row mb-4">
        <div class="col-md-8 col-12" id="figures">
            <div class="card card-home">
                <h2 class="card-title">La VA en chiffres</h2>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-4">
                            <img src="{% static 'img/visuelAsso.png' %}"
                                 alt="Réseau d'association"
                                 class="rounded img-fluid"/>
                        </div>
                        <div class="col-md-4 col-4">
                            <img src="{% static 'img/carteVA.png' %}"
                                 alt="Carte VA"
                                 class="rounded img-fluid"/>
                        </div>
                        <div class="col-md-4 col-4">
                            <img src="{% static 'img/visuelEvenement2.svg' %}"
                                 alt="Evenements"
                                 class="rounded img-fluid"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-4">
                            <p class="card-text text-center">
                                <strong class="figure">{{ active_associations_count }}</strong><br/> associations actives
                            </p>
                        </div>
                        <div class="col-md-4 col-4">
                            <p class="card-text text-center">
                                <strong class="figure">>3K</strong><br/> adhérents VA
                            </p>
                        </div>
                        <div class="col-md-4 col-4">
                            <p class="card-text text-center">
                                <strong class="figure">{{ recent_events_count }}</strong><br/> événements depuis septembre {{ school_year }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12" id="links">
            <div class="card card-home">
                <h2 class="card-title">Ressources pour les associations</h2>
                <div>
                    <div class="list-group list-group-flush">
                        <a href="https://affichage.bde-insa-lyon.fr/"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Afficher ton événement sur les écrans (RI, BMC, BDE) <i class="fa fa-chevron-right"></i>
                        </a>
                        <a href="https://resa.bde-insa-lyon.fr/book/home"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Voir les salles ou le matos que tu peux réserver (réservation à faire au BDE) <i class="fa fa-chevron-right"></i>
                        </a>
                        <a href="https://wiki.asso-insa-lyon.fr/wiki/Accueil"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Consulter le Wiki VA, boite à outil du responsable associatif <i class="fa fa-chevron-right"></i>
                        </a>
                        <a href="https://drive.google.com/open?id=14cAxIfOKH4uRPdzsi8ZpVuzSUnmL-utC"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Consulter la documentation pour les assos <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/src/modalBotINSA.js" %}"></script>

    <div class="row mb-4">
        <div class="col-md-6 col-12" id="highlights">
            <h2>Associations à la une</h2>
            <div id="highlightsAsso" class="carousel slide mb-4" data-ride="carousel" data-interval="5500">
                <div class="carousel-inner">
                    {% for asso in highlights.association %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">
                            {% if asso.logo_url %}
                                <div class="col-3 col-md-3 text-center">
                                    <img src="{{ asso.logo_url }}" alt="Logo asso" class="img-fluid">
                                </div>
                                <div class="col-9 col-md-9">
                            {% else %}
                                <div class="col-12">
                            {% endif %}
                            <h4>
                                {{ asso.name }}
                            </h4>
                            <p>
                                {{ asso.current_directory_entry.description|truncatewords:20 }}
                            </p>
                            <button type="button" class="btn btn-primary" onclick="getModal('{% url "api-v1-directory-index" %}', {{ asso.id }})">
                                Plus d'infos
                            </button>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h2>Évènements à venir</h2>
                <div id="highlightsAsso" class="carousel slide mb-4" data-ride="carousel" data-interval="4500">
                    <div class="carousel-inner">
                        {% for event in highlights.events %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row">
                                {% if event.logo_url %}
                                    <div class="col-3 col-md-3 text-center">
                                        <img src="{{ event.logo_url }}" alt="Logo event" class="img-fluid">
                                    </div>
                                    <div class="col-9 col-md-9">
                                {% else %}
                                    <div class="col-3 col-md-3 text-center">
                                        <img src="{{ event.association.logo_url }}" alt="Logo asso" class="img-fluid">
                                    </div>
                                    <div class="col-9 col-md-9">
                                {% endif %}
                                <h4>
                                    {{ event.name }}
                                </h4>
                                <p>
                                    {{ event.short_description|truncatechars:150 }}
                                </p>
                                <button type="button" class="btn btn-primary" onclick="getModal('{% url "api-v1-directory-index" %}', {{ event.association.id }}, {{ event.id }})">
                                    Plus d'infos
                                </button>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'directory/asso_modals.html' %}
{% endblock %}
