{% extends 'association/base_association.html' %}

{% block page_sub_title %}
  Suppression d'un tarif
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-event-detail' association.id event.id %}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> La suppression du tarif <i>{{ object.name }}</i> entraînera sa <u>perte irréversible</u>.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}