{% extends 'base.html' %}

{% block page_seo %}
    <title>Suppression d'une newsletter</title>
    <meta name="title" content="Suppression d'une newsletter"/>
{% endblock %}

{% block page_title %}
  Suppression d'une newsletter
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'newsletter-detail' object.id %}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> La suppression de la newsletter <i>{{ object.title }}</i> entraînera sa <u>perte irréversible</u>.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?<br>
          <strong>NB:</strong> Elle ne pourra plus être "visionnée dans un navigateur".
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}
