{% extends 'association/base_association.html' %}

{% load humanize %}

{% block page_seo %}
    <title>Détail de {{ object.title }}</title>
    <meta name="title" content="Détail de {{ object.title }}"/>
{% endblock %}

{% block page_title %}
    Détail d'une newsletter
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'newsletter-list' %}" class="btn btn-secondary"><i class="fa fa-list"></i> Retourner à la liste</a>
    {% if can_delete %}
        <a href="{% url 'newsletter-delete' object.id %}" class="btn btn-danger"><i class="fa fa-trash"></i>
            Supprimer</a>
    {% endif %}
    {% if can_update %}
        <a href="{% url 'newsletter-update' object.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Mettre à
            jour</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object.sent %}
        <div class="alert alert-success" role="alert">
            Cette newsletter a déjà été envoyée.
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Cette newsletter est toujours en attente d'envoi.
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-12">
            <strong>Sujet</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.title }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <strong>Contenu</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.content|linebreaksbr }}</div>
            </div>
        </div>
    </div>

    <p>
        <small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small>
    </p>

    <a href="{% url 'newsletter-online' object.id %}" class="btn btn-info" target="_blank">
        <i class="fa fa-share-square"></i>Consulter le mail</a>
{% endblock %}
