{% extends 'base.html' %}

{% block page_seo %}
    <title>Liste des newsletters</title>
    <meta name="title" content="Liste des newsletters"/>
{% endblock %}

{% block page_title %}
    Liste des newsletters
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'newsletter-new' %}" class="btn btn-success"><i class="fa fa-plus"></i>
        Ajouter</a>
{% endblock %}

{% block content %}
    <div class="row">
        <table id='prettyTable' class="table table-bordered table-stripped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for newsletter in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'newsletter-detail' newsletter.id %}">{{ newsletter.title }}</a>
                    </td>
                    <td>
                        {{ newsletter.created_at }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5"><i>Aucune newsletter.</i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}