{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_seo %}
    <title>Créer une newsletter</title>
    <meta name="title" content="Créer une newsletter"/>
{% endblock %}

{% block page_sub_title %}
  Créer une newsletter
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'newsletter-list' %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
  <button form="newsletterForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}