{% extends 'association/base_association.html' %}

{% load crispy_forms_tags %}

{% block page_seo %}
    <title>Modifier la newsletter</title>
    <meta name="title" content="Modifier la newsletter"/>
{% endblock %}

{% block page_title %}
  Modifier la newsletter
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'newsletter-list' %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
  <button form="newsletterForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content %}
  {% crispy form %}

    <script type="text/javascript">
        window.addEventListener('load', function() {
            document.getElementById('id_title').value = '{{ newsletter_title }}';
        })
    </script>
{% endblock %}
