{% extends 'association/base_association.html' %}

{% block page_sub_title %}
  Supprimer un horaire d'ouverture
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-directory-detail' association.id %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
{% endblock %}

{% block content_association %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> Vous vous apprêtez à supprimer l'horaire de permanence <i>{{ days|get_tuple:object.day }} de {{ object.begins_at|time:"H:i" }} à {{ object.ends_at|time:"H:i" }}</i>.<br>
        Cette action nécessitera une validation du responsable VA avant publication effective.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}