{% extends 'association/base_association.html' %}

{% block page_seo %}
    <title>Suppression d'un dossier</title>
    <meta name="title" content="Suppression d'un dossier"/>
{% endblock %}

{% block page_sub_title %}
  Suppression d'un dossier
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'resource-folder-list' %}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> La suppression du dossier <i>{{ object.path }}</i> entraînera sa <u>perte irréversible</u>,
          les fichiers qui y sont stockés seront supprimés.<br>
        Voulez-vous <u>vraiment</u> poursuivre ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-danger" type="submit" value="Confirmer la suppression" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}